
.nav-link{
    background-color: grey;
    border-radius: 3px;
    border: 1px solid green;
    font-weight: bold;
    font-size: large;
}
a{
    background-color: grey;
    border-radius: 3px;
    border: 1px solid green;
    text-decoration: none;
    font-size: small;
    padding: 5px;
    color: aliceblue;
}
body{
    background-image: url("/images/output-onlinepngtools.png");
    background-size: cover;
}
li{
    padding: 10px;
}
section{
    font-weight: bold;
}
button{
    font-weight: bold;
}
#search{
    padding: 10px;
}